<%- include('./partials/header'); %>

<section>
    <img src="../public/images/wave.svg" class="-mt-2" alt="wave-img">

    <div class="container">
        <div class="grid grid-cols-1">
            <img src="../public/images/avatar.png" class="w-3/4 mx-auto" alt="avatar-img">
            <div id="rectangle" class="text-center shadow-md">
                <h1>Desarrollador Web</h1>
                <p>¿Necesitas una página web?</p>
                <button class="btn-grad mx-auto">Contáctame</button>
            </div>
        </div>
    </div>
</section>

<section class="personal-brand text-center text-white">
    <div class="grid">
        <ul class="inline-flex mx-auto my-2">
            <li class="mx-4"><a href="#">Instagram</a></li>
            <li class="mx-4"><a href="#">Youtube</a></li>
            <li class="mx-4"><a href="#">Blog</a></li>
        </ul>
        <h1>Marca Personal.</h1>
        <p>Quizá para darte a conocer en redes sociales y crear tu..</p>
    </div>

</section>

<section class="esthetic bg-pink-300 hidden">
    <div class="inline-flex my-4 text-white">
        <div class="burger burger-white ml-4 mr-8">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <!-- <ul class="inline-flex">
            <li class="mx-2"><a href="#">Inicio</a></li>
            <li class="mx-2"><a href="#">Nosotros</a></li>
            <li class="mx-2"><a href="#">Sucursales</a></li>
            <li class="mx-2"><a href="#">Contacto</a></li>
        </ul> -->
    </div>
    <div class="grid grid-cols-1">
        <div class="relative shadow-md">
            <img src="https://images.pexels.com/photos/705255/pexels-photo-705255.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <div class="z-0 absolute bottom-0 text-white">
                <h1>Estética</h1>
                <p>Dar a conocer tu negocio</p>
            </div>
        </div>

        <div class="mx-auto">
            <h2>Servicios</h2>
            <div class="grid grid-cols-1">
                <div class="col-span-1">
                    <img class="w-1/2 rounded-full shadow-md" src="https://images.pexels.com/photos/457701/pexels-photo-457701.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    <h3>Un servicio</h3> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></div>
            
                <!-- <div class="col-span-1">
                    <img class="w-1/2 rounded-full shadow-md" src="https://images.pexels.com/photos/3065209/pexels-photo-3065209.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                    <h3>Un servicio</h3> <p>Corrupti a velit voluptatem libero suscipit cumque fugiat ad nihil.</p></div> -->
            </div>
        </div>

        <p>¡Estamos aquí!</p>
        <div class="rounded-lg bg-pink-700 m-4">
            <img src="../public/images/map.jpg" alt="map-img">
        </div>
    </div>

</section>

<section>
    <div class="restaurant">
        <div class="inline-flex my-4 text-white">
            <div class="burger ml-4 mr-8">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </div>
    <h2>Platillos</h2>
    <div class="grid grid-cols-1">

        <div class="col-span-1 p-4">
            <div class="max-w-sm rounded overflow-hidden shadow-lg border border-black">
                <img class="w-full" src="https://images.pexels.com/photos/1279330/pexels-photo-1279330.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                  <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                  </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
              </div>
        </div>

        <div class="col-span-1 p-4">
            <div class="max-w-sm rounded overflow-hidden shadow-lg border border-black">
                <img class="w-full" src="https://images.pexels.com/photos/551991/pexels-photo-551991.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                  <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                  </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
              </div>
        </div>

        <div class="col-span-1 p-4">
            <div class="max-w-sm rounded overflow-hidden shadow-lg border border-black">
                <img class="w-full" src="https://images.pexels.com/photos/628776/pexels-photo-628776.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                  <p class="text-gray-700 text-base">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                  </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
                </div>
              </div>
        </div>

    </div>
</section>

<section class="bg-blue-400">

        <div class="mt-10 sm:mt-0">
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
                        <p class="mt-1 text-sm text-gray-600">
                            Use a permanent address where you can receive mail.
                        </p>
                    </div>
                </div>
            </div>
        </div>

      <div class="mt-5 md:mt-0 md:col-span-2">
          <form action="#" method="POST">
              <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-blue-400 sm:p-6">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-6 sm:col-span-3">
                        <label for="first_name" class="block text-sm font-medium text-gray-700">First name</label>
                        <input type="text" name="first_name" id="first_name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    
                    <div class="col-span-6 sm:col-span-3">
                        <label for="last_name" class="block text-sm font-medium text-gray-700">Last name</label>
                        <input type="text" name="last_name" id="last_name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    
                    <div class="col-span-6 sm:col-span-4">
                        <label for="email_address" class="block text-sm font-medium text-gray-700">Email address</label>
                        <input type="text" name="email_address" id="email_address" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    
                    <div class="col-span-6 sm:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-700">Country / Region</label>
                        <select id="country" name="country" autocomplete="country" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            <option>United States</option>
                            <option>Canada</option>
                            <option>Mexico</option>
                        </select>
                    </div>
                    
                    <div class="col-span-6">
                        <label for="street_address" class="block text-sm font-medium text-gray-700">Street address</label>
                        <input type="text" name="street_address" id="street_address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    
                    <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                        <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                        <input type="text" name="city" id="city" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    
                    <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                        <label for="state" class="block text-sm font-medium text-gray-700">State / Province</label>
                        <input type="text" name="state" id="state" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    
                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                    <label for="postal_code" class="block text-sm font-medium text-gray-700">ZIP / Postal</label>
                    <input type="text" name="postal_code" id="postal_code" autocomplete="postal-code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
            </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-700 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Save
            </button>
        </div>
          </div>
        </form>
    </div>
</div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>

</section>


